# Handling Supply Chain Data with Python: A 4flow introduction with reference to Linkedin Learning
_This script will create a goods-in-transit report by importing (hypothetical) input data from a customer and enriching it from other sources._


## 1. Data import and Report Creation
* Import everything to be prepared
* Import python data handling library ('pandas')
* Import the different data sources (Excel files)

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format


filepath = "H:\\Projekte\\Intern\\Schulungen\\Linkedinlearning Promotion\\Daten"


#Import Demand data and master data
df_basisdaten = pd.read_excel('H:\Projekte\Intern\Schulungen\Linkedinlearning Promotion\Daten\Original_mod_simple.xlsx', sheet_name = 'LT-Basisdaten')
df_mengengeruest = pd.read_excel('H:\Projekte\Intern\Schulungen\Linkedinlearning Promotion\Daten\Original_mod_simple.xlsx', sheet_name = 'Mengengerüst')
df_distanzen = pd.read_excel('H:\Projekte\Intern\Schulungen\Linkedinlearning Promotion\Daten\Original_mod_simple.xlsx', sheet_name = 'RelationDistances')

Let's have a first look at the main input of the three files - the shipment data. So far it is on its without calculation of volumes, prices etc.

In [2]:
df_mengengeruest.head()

,Planned Shipment Number,LT Nummer,Amount,From,To,Pickup Date,Delivery Date,Contact Details
0,SHP_0001,7004,24,A,W,2021-02-28,2021-03-01,Klara.Werner@supplierE.com
1,SHP_0002,L3103060,5,B,X,2021-02-07,2021-02-08,Mila.Krause@supplierG.nl
2,SHP_0003,L3103716,1,C,Y,2021-02-28,2021-03-01,Mila.Schulz@supplierI.nl
3,SHP_0004,VDA4280,26,A,Z,2021-02-27,2021-02-28,Mia.Hofmann@supplierA.com
4,SHP_0005,13205,39,B,Y,2021-02-24,2021-02-25,Felix.Hartmann@supplierD.com

_Enhance the table ("dataframe")_
* Use the "merge" functionality, which can be compared with MS Excel "VLOOKUP" / "SVERWEIS"
* Add / "merge" the master data such as measurements and weight of the handling units which the shipments use
* Add / "merge" the km distances between transport relations

--> The dataframe "df_merged" now holds the basic report. We will continue working with this dataframe.

In [3]:
df_merged = df_mengengeruest.merge(df_basisdaten, on = "LT Nummer") 
df_merged = df_merged.merge(df_distanzen, on = ['From','To'])

df_merged.head(15)

,Planned Shipment Number,LT Nummer,Amount,From,To,Pickup Date,Delivery Date,Contact Details,LT-Kategorie,EW/MW,Bezeichnung Ladungsträger,Laenge,Breite,Hoehe,Hoehe geklappt,Tara\n[kg],LT/Lage,Road Distance
0,SHP_0001,7004,24,A,W,2021-02-28,2021-03-01,Klara.Werner@supplierE.com,Universal,M,Reifen,2400,1200,2200,420,200.00,1.00,250
1,SHP_0047,7004,24,A,W,2021-03-01,2021-03-02,Klara.Werner@supplierE.com,Universal,M,Reifen,2400,1200,2200,420,200.00,1.00,250
2,SHP_0093,7004,24,A,W,2021-02-27,2021-02-28,Klara.Werner@supplierE.com,Universal,M,Reifen,2400,1200,2200,420,200.00,1.00,250
3,SHP_0030,16118,21,A,W,2021-02-06,2021-02-07,Finn.Werner@supplierGcom.,Spezial,M,17_Schiebehebedach_SHD,1250,1200,1000,1000,nan,1.00,250
4,SHP_0076,16118,21,A,W,2021-02-24,2021-02-25,Finn.Werner@supplierGcom.,Spezial,M,17_Schiebehebedach_SHD,1250,1200,1000,1000,nan,1.00,250
5,SHP_0122,16118,21,A,W,2021-02-05,2021-02-06,Finn.Werner@supplierGcom.,Spezial,M,17_Schiebehebedach_SHD,1250,1200,1000,1000,nan,1.00,250
6,SHP_0010,7667,22,A,W,2021-02-19,2021-02-20,Emilia.Fischer@supplierD.de,Spezial,M,15_Grundträger hi_li_re_BR214_H46,1600,1200,700,700,nan,1.00,250
7,SHP_0056,7667,22,A,W,2021-02-28,2021-03-01,Emilia.Fischer@supplierD.de,Spezial,M,15_Grundträger hi_li_re_BR214_H46,1600,1200,700,700,nan,1.00,250
8,SHP_0102,7667,22,A,W,2021-02-19,2021-02-20,Emilia.Fischer@supplierD.de,Spezial,M,15_Grundträger hi_li_re_BR214_H46,1600,1200,700,700,nan,1.00,250
9,SHP_0024,7004,24,A,X,2021-02-25,2021-02-26,Lina.Schmitt@supplierD.net,Universal,M,Reifen,2400,1200,2200,420,200.00,1.00,400
10,SHP_0070,7004,24,A,X,2021-02-28,2021-03-01,Lina.Schmitt@supplierD.net,Universal,M,Reifen,2400,1200,2200,420,200.00,1.00,400
11,SHP_0116,7004,24,A,X,2021-02-02,2021-02-03,Lina.Schmitt@supplierD.net,Universal,M,Reifen,2400,1200,2200,420,200.00,1.00,400
12,SHP_0038,10311,21,A,X,2021-02-25,2021-02-26,Paul.Schulze@supplierK.com,Spezial,M,DACHRELING RE,1200,1000,1000,1000,nan,1.00,400
13,SHP_0084,10311,21,A,X,2021-02-04,2021-02-05,Paul.Schulze@supplierK.com,Spezial,M,DACHRELING RE,1200,1000,1000,1000,nan,1.00,400
14,SHP_0130,10311,21,A,X,2021-02-08,2021-02-09,Paul.Schulze@supplierK.com,Spezial,M,DACHRELING RE,1200,1000,1000,1000,nan,1.00,400

## 2. Enhancing the report

_Calculating column values (similar to Excel formulas)_
* Calculate Shipment Volume in Cubic Meters

In [4]:
df_merged['ShipmentVolume [m³]'] = df_merged['Laenge']/1000 * df_merged['Breite']/1000 * df_merged['Hoehe']/1000 * df_merged['Amount']
df_merged[['Planned Shipment Number', 'ShipmentVolume [m³]']]

    Planned Shipment Number  ShipmentVolume [m³]
0                  SHP_0001               152.06
1                  SHP_0047               152.06
2                  SHP_0093               152.06
3                  SHP_0030                31.50
4                  SHP_0076                31.50
..                      ...                  ...
145                SHP_0069                 1.41
146                SHP_0115                 1.41
147                SHP_0042                 2.22
148                SHP_0088                 2.22
149                SHP_0134                 2.22

[150 rows x 2 columns]

_Calculate Transportmode_
* Use 60m³ as treshold volume for the following decision: When a Shipment volume is lower than 60m³ send it as LTL, if it is higher send it as FTL
* Define a new column and calculate the value 'LTL'/'FTL' with an IF-ELSE-logic
* Lets look at the results for the different shipments

In [5]:
df_merged['Transport Mode'] = np.where(df_merged['ShipmentVolume [m³]'] > 60, 'FTL', 'LTL')
df_merged[['Planned Shipment Number', 'ShipmentVolume [m³]', 'Transport Mode']].head(15)

   Planned Shipment Number  ShipmentVolume [m³] Transport Mode
0                 SHP_0001               152.06            FTL
1                 SHP_0047               152.06            FTL
2                 SHP_0093               152.06            FTL
3                 SHP_0030                31.50            LTL
4                 SHP_0076                31.50            LTL
5                 SHP_0122                31.50            LTL
6                 SHP_0010                29.57            LTL
7                 SHP_0056                29.57            LTL
8                 SHP_0102                29.57            LTL
9                 SHP_0024               152.06            FTL
10                SHP_0070               152.06            FTL
11                SHP_0116               152.06            FTL
12                SHP_0038                25.20            LTL
13                SHP_0084                25.20            LTL
14                SHP_0130                25.20            LTL

_Calculate Shipment Cost with generic [€/km] Tariff_

* Define a variable for current LTL €/km price (can be updated in the future)
* Define a variable for current FTL €/km price (can be updated in the future)
* Define a new column and fill it with an IF-ELSE logic: If Shipment is LTL, price it with LTL cost. If shipment is FTL, price it with FTL cost.

In [6]:
tariff_euro_km_LTL = 1.5
tariff_euro_km_FTL = 1.3

df_merged['ShipmentCost [EUR]'] = np.where(df_merged['Transport Mode'] == 'FTL', df_merged['Road Distance'] * tariff_euro_km_FTL, df_merged['Road Distance'] * tariff_euro_km_LTL  )
df_merged[['Planned Shipment Number', 'Transport Mode', 'ShipmentCost [EUR]']].head(15)

   Planned Shipment Number Transport Mode  ShipmentCost [EUR]
0                 SHP_0001            FTL              325.00
1                 SHP_0047            FTL              325.00
2                 SHP_0093            FTL              325.00
3                 SHP_0030            LTL              375.00
4                 SHP_0076            LTL              375.00
5                 SHP_0122            LTL              375.00
6                 SHP_0010            LTL              375.00
7                 SHP_0056            LTL              375.00
8                 SHP_0102            LTL              375.00
9                 SHP_0024            FTL              520.00
10                SHP_0070            FTL              520.00
11                SHP_0116            FTL              520.00
12                SHP_0038            LTL              600.00
13                SHP_0084            LTL              600.00
14                SHP_0130            LTL              600.00

_Open PDF file with required data in table form, extract Info 'BillOfLading', add to shipments_
* Use specialised .pdf - library "Tabula"
* Save .pdf - content as a dataframe and then merge to shipments, based on Shipment ID

In [7]:
import tabula
pdf_path = 'H:\\Projekte\\Intern\\Schulungen\\Linkedinlearning Promotion\\Daten\\billoflading_cw48.pdf'
df_BOLs = tabula.read_pdf(pdf_path)

df_BOLs
df_merged = pd.merge(df_merged, df_BOLs, how = 'left', left_on = "Planned Shipment Number", right_on = "Shipment") 
df_merged.sort_values(by='Planned Shipment Number')
df_merged[['Planned Shipment Number', 'Transport Mode', 'ShipmentCost [EUR]', 'Bill of Lading']].dropna()

    Planned Shipment Number Transport Mode  ShipmentCost [EUR] Bill of Lading
0                  SHP_0001            FTL              325.00       BoL_4711
3                  SHP_0030            LTL              375.00       BoL_4740
6                  SHP_0010            LTL              375.00       BoL_4720
9                  SHP_0024            FTL              520.00       BoL_4734
15                 SHP_0018            LTL              600.00       BoL_4728
18                 SHP_0002            LTL              675.00       BoL_4712
21                 SHP_0031            FTL              585.00       BoL_4741
24                 SHP_0025            LTL              525.00       BoL_4735
27                 SHP_0005            FTL              455.00       BoL_4715
28                 SHP_0028            FTL              455.00       BoL_4738
33                 SHP_0008            FTL              455.00       BoL_4718
39                 SHP_0016            LTL              525.00       BoL_4726
45                 SHP_0019            LTL              525.00       BoL_4729
48                 SHP_0022            LTL              525.00       BoL_4732
51                 SHP_0003            LTL              600.00       BoL_4713
54                 SHP_0032            FTL              520.00       BoL_4742
57                 SHP_0026            LTL              450.00       BoL_4736
63                 SHP_0020            LTL              450.00       BoL_4730
66                 SHP_0004            LTL              300.00       BoL_4714
67                 SHP_0027            LTL              300.00       BoL_4737
72                 SHP_0007            LTL              300.00       BoL_4717
75                 SHP_0033            LTL              300.00       BoL_4743
84                 SHP_0015            LTL              300.00       BoL_4725
90                 SHP_0021            LTL              300.00       BoL_4731
93                 SHP_0006            FTL              650.00       BoL_4716
94                 SHP_0029            FTL              650.00       BoL_4739
99                 SHP_0009            FTL              650.00       BoL_4719
102                SHP_0011            LTL              750.00       BoL_4721
103                SHP_0011            LTL              750.00       BoL_4721
114                SHP_0014            LTL              750.00       BoL_4724
123                SHP_0012            LTL              450.00       BoL_4722
124                SHP_0012            LTL              450.00       BoL_4722
132                SHP_0013            LTL              375.00       BoL_4723
141                SHP_0017            LTL              525.00       BoL_4727
144                SHP_0023            LTL              525.00       BoL_4733

## 3. Report Analysis
* Parse Date - Write in the Name of the Weekday

In [8]:
import datetime
df_merged['Pickup Weekday'] = pd.to_datetime(df_merged['Pickup Date']).dt.day_name()
df_merged[['Planned Shipment Number', 'Pickup Weekday']].dropna()

    Planned Shipment Number Pickup Weekday
0                  SHP_0001         Sunday
1                  SHP_0047         Monday
2                  SHP_0093       Saturday
3                  SHP_0030       Saturday
4                  SHP_0076      Wednesday
..                      ...            ...
145                SHP_0069         Monday
146                SHP_0115         Friday
147                SHP_0042        Tuesday
148                SHP_0088       Thursday
149                SHP_0134         Monday

[150 rows x 2 columns]

* Analyse Sum of Shipment Volume Per Day & Transport mode (comparable to an MS Excel Pivot Table)

In [9]:
df_pivotDailyVolumes = df_merged.groupby(["Pickup Weekday", "Transport Mode"])['ShipmentVolume [m³]'].sum()
df_pivotDailyVolumes

Pickup Weekday  Transport Mode
Friday          FTL                499.01
                LTL                184.79
Monday          FTL                396.72
                LTL                206.34
Saturday        FTL                152.06
                LTL                117.33
Sunday          FTL                583.39
                LTL                229.48
Thursday        FTL                568.94
                LTL                139.03
Tuesday         FTL              1,012.71
                LTL                173.63
Wednesday       FTL                551.04
                LTL                144.89
Name: ShipmentVolume [m³], dtype: float64

Let's do one more analysis: The suppliers are required to provide a contact email, in case of issues with the shipments. However experience shows, that often the emails are faulty or in a wrong format (eg. no email given at all, missing ".", illogical characters, etc.). Let's check this proactively, so that we can contact suppliers.

* Find wrong emails in the contact lists: Using a regex of email format, build a series of TRUE/FALSE (email format yes or no). Use it for analyse the original ones.
* Show the list to the user, so that the supplier can be contacted for clarification

In [10]:
df_wrongemails = df_merged['Contact Details'].str.match(r'\D*(@)\D*(\.)(de|nl|fr|com|net)')
df_merged[~df_wrongemails]['Contact Details'].unique()

array(['Finn.Werner@supplierGcom.', 'empty..',
       'Jonas.Schwarz[AT]supplierH.com', 'Ella.Schmitz@supplierFcom.',
       'Elias.LangesupplierE.com', 'Emilia.HartmansupplierB.de',
       'Klara.WernersupplierE.de', 'Klara.WagnersupplierG.com',
       'Louis.Köhler@supplierBcom.'], dtype=object)

# 4. Export to Excel 

Having performed all the necessary steps for report creation, we can save the report again as an Excel file and send it to recipients.
* Get current date from system and use it as the filename (eg. "ShipmentForecast_01012021.xlsx")
* Export the report as an Excel file, using the day-actual filename

In [11]:
today = str(datetime.date.today())
filename = "GoodsInTransitReport_" + today + ".xlsx"

import os
filepathReports = os.path.join(filepath, "reports\\")
df_merged.to_excel(filepathReports + filename)

# 5. Possible enhancements of the report

* User-specific reports
* Split reports by FTL / LTL
* Automatically sending the report via email to a list of recipients
* Alert functionality to user based on report values (eg. value of the summed costs exceeds a threshold)
* ...